button{
  outline: none;
}

/***************************** header - start *****************************/
header{
  .container{
    .columns{
      width: 90%;
      margin: 0 auto;
      height: 80px;
      line-height: 80px;
      //text-align: center;
      background: rgb(255,223,126);
      background: linear-gradient(90deg, rgba(255,223,126,1) 0%, rgba(255,223,126,1) 50%, rgba(255,165,0,1) 100%);
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      h1{
      }
      button{
        height: 80px;
        background-color: transparent;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid rgba(255,223,126,1);
        &:hover{
          box-shadow: 2px 2px 2px rgba(255,223,126,1);
          .title{
            color: rgba(210,105,46,1);
            text-shadow: 2px 2px 2px rgba(255,223,126,1);
          }
        }
        .title{
          color: rgba(255,223,126,1);
          width: 100%;
          text-shadow: 2px 2px 2px rgba(210,105,46,.5);
        }
      }
    }
  }
}
/****************************** header - end ******************************/

/***************************** nav - start *****************************/
nav{
  .container{
    ul{
      li{
        border: 2px solid orange;
        border-radius: 8px;
        .button{
          font-weight: bolder;
          background-color: #ffdf7e;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
/****************************** nav - end ******************************/

/***************************** meal - start *****************************/
#meal{
  //display: none;
  .container{
    .columns{
      margin: 0 auto;
      width: 90%;
        max-height: 300px;
      .meal-img{
        background-color: #ffdf7e;
        border: 2px solid orange;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
          vertical-align: center;
        }
      }
      .meal-detail{
        //text-align: center;
        background-color: lemonchiffon;
        border: 2px solid orange;
        border-radius: 10px;
        //overflow: auto;
        .meal-title{
          display: inline-block;
        }
        .yield{
          float: right;
          color: chocolate;
        }
        .meal-ingredients{
          width: 100%;
          max-height: 90%;
          li{
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
/****************************** meal - end ******************************/

/***************************** nutrition-music - start *****************************/
#nutrition-music{
  .container{
    margin-top: 10px;
    .columns{
      margin: 0 auto;
      width: 90%;
      .diet-labels{
        background-color: #ffdf7e;
        border: 2px solid orange;
        border-radius: 10px;
        .diet-details{
          span{
            background-color: lemonchiffon;
            border: 2px solid orange;
            border-radius: 10px;
            margin-bottom: 3px;
          }
        }
      }
      .nutrition-facts{
        min-height: 170px;
        background-color: #ffdf7e;
        border: 2px solid orange;
        border-radius: 10px;
        li{
          font-size: large;
          &:hover,
          strong:hover{
            color: chocolate;
          }
        }
      }
      .music{
        background-color: #ffdf7e;
        border: 2px solid orange;
        border-radius: 10px;
        audio{
          width: 100%;
        }
      }
    }
  }
}
/****************************** nutrition-music - end ******************************/

/***************************** health-tag - start *****************************/
/*#music-container{
  .container{
    margin-top: 10px;
    margin-bottom: 10px;
    .columns{
      margin: 0 auto;
      width: 90%;
      .music{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #ffdf7e;
        height: 200px;
      }
      .music-description{
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: orange;
      }
    }
  }
}*/
/****************************** health-tag - end ******************************/

/***************************** footer - start *****************************/
footer{
   .container{
     .columns{
     margin: 0 auto;
       width: 90%;
       background-color: #ffdf7e;
       border-bottom-right-radius: 10px;
       border-top-right-radius: 10px;
       height: 70px;
       h1{
         line-height: 60px;
         background-color: #ffdf7e;
       }
       button{
         height: 70px;
         background-color: orange;
         border-radius: 10px;
         cursor: pointer;
       }
     }
   }
}
/****************************** footer - end ******************************/