button{
  outline: none;
}

/***************************** header - start *****************************/
header{
  .container{
    .columns{
      width: 90%;
      margin: 0 auto;
      height: 80px;
      line-height: 80px;
      //text-align: center;
      h1{
        background-color: #ffdf7e;
      }
      button{
        //float: right;
        //width: 100px;
        height: 80px;
        background-color: orange;
        border-radius: 10px;
        //letter-spacing: 1px;
        cursor: pointer;
      }
    }
  }
}
/****************************** header - end ******************************/

/***************************** nav - start *****************************/
nav{
  ul{
    li{
      border: 2px solid orange;
      border-radius: 8px;
      .button{
        font-weight: bolder;
        background-color: #ffdf7e;
        width: 100%;
        height: 100%;
      }
    }
  }
}
/****************************** nav - end ******************************/

/***************************** meal - start *****************************/
#meal{
  .container{
    .columns{
      margin: 0 auto;
      width: 90%;
        max-height: 360px;
      .meal-img{
        background-color: #ffdf7e;
        border: 2px solid orange;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
          vertical-align: center;
        }
      }
      .meal-detail{
        text-align: center;
        background-color: lemonchiffon;
        border: 2px solid orange;
        border-radius: 10px;
        overflow: auto;
      }
    }
  }
}
/****************************** meal - end ******************************/

/***************************** nutrition - start *****************************/
#nutrition{
  .container{
    margin-top: 10px;
    .columns{
      margin: 0 auto;
      width: 90%;
      .diet-labels{
        ul li{
          margin: 0.3rem;
          a{
            background-color: lemonchiffon;
            border: 2px solid orange;
            border-radius: 5px;
            display: block;
            width: 100%;
            &:hover{
              span{
                color: orangered;
                font-weight: bolder;
              }
            }
          }
        }
      }
      .nutrition-details{
        background-color: #ffdf7e;
        border-radius: 10px;
      }
    }
  }
}
/****************************** nutrition - end ******************************/

/***************************** health-tag - start *****************************/
#health-tag{
  .container{
    margin-top: 10px;
    margin-bottom: 10px;
    .columns{
      margin: 0 auto;
      width: 90%;
      .music{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #ffdf7e;
        height: 200px;
      }
      .music-description{
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: orange;
      }
    }
  }
}
/****************************** health-tag - end ******************************/

.modal-content {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

/***************************** footer - start *****************************/
footer{
   .container{
     .columns{
     margin: 0 auto;
       width: 90%;
       background-color: #ffdf7e;
       height: 60px;
       //text-align: center;
       h1{
         line-height: 60px;
         background-color: #ffdf7e;
       }
       button{
         //float: right;
         //width: 100px;
         height: 60px;
         background-color: orange;
         border-radius: 10px;
         //letter-spacing: 1px;
         cursor: pointer;
       }
     }
   }
}
/****************************** footer - end ******************************/