button {
  outline: none;
}
/***************************** header - start *****************************/
header .container .columns {
  width: 90%;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  background: #ffdf7e;
  background: linear-gradient(90deg, #ffdf7e 0%, #ffdf7e 50%, #ffa500 100%);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
header .container .columns button {
  height: 80px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #ffdf7e;
}
header .container .columns button:hover {
  box-shadow: 2px 2px 2px #ffdf7e;
}
header .container .columns button:hover .title {
  color: #d2692e;
  text-shadow: 2px 2px 2px #ffdf7e;
}
header .container .columns button .title {
  color: #ffdf7e;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(210, 105, 46, 0.5);
}
/****************************** header - end ******************************/
/***************************** nav - start *****************************/
nav .container ul li {
  border: 2px solid orange;
  border-radius: 8px;
}
nav .container ul li .button {
  font-weight: bolder;
  background-color: #ffdf7e;
  width: 100%;
  height: 100%;
}
/****************************** nav - end ******************************/
/***************************** meal - start *****************************/
#meal .container .columns {
  margin: 0 auto;
  width: 90%;
  max-height: 300px;
}
#meal .container .columns .meal-img {
  background-color: #ffdf7e;
  border: 2px solid orange;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#meal .container .columns .meal-img img {
  width: 100%;
  vertical-align: center;
}
#meal .container .columns .meal-detail {
  background-color: lemonchiffon;
  border: 2px solid orange;
  border-radius: 10px;
}
#meal .container .columns .meal-detail .meal-title {
  display: inline-block;
}
#meal .container .columns .meal-detail .yield {
  float: right;
  color: chocolate;
}
#meal .container .columns .meal-detail .meal-ingredients {
  width: 100%;
  max-height: 90%;
}
#meal .container .columns .meal-detail .meal-ingredients li {
  margin-bottom: 4px;
}
/****************************** meal - end ******************************/
/***************************** nutrition-music - start *****************************/
#nutrition-music .container {
  margin-top: 10px;
}
#nutrition-music .container .columns {
  margin: 0 auto;
  width: 90%;
}
#nutrition-music .container .columns .diet-labels {
  background-color: #ffdf7e;
  border: 2px solid orange;
  border-radius: 10px;
}
#nutrition-music .container .columns .diet-labels .diet-details span {
  background-color: lemonchiffon;
  border: 2px solid orange;
  border-radius: 10px;
  margin-bottom: 3px;
}
#nutrition-music .container .columns .nutrition-facts {
  min-height: 170px;
  background-color: #ffdf7e;
  border: 2px solid orange;
  border-radius: 10px;
}
#nutrition-music .container .columns .nutrition-facts li {
  font-size: large;
}
#nutrition-music .container .columns .nutrition-facts li:hover,
#nutrition-music .container .columns .nutrition-facts li strong:hover {
  color: chocolate;
}
#nutrition-music .container .columns .music {
  background-color: #ffdf7e;
  border: 2px solid orange;
  border-radius: 10px;
}
#nutrition-music .container .columns .music audio {
  width: 100%;
}
/****************************** nutrition-music - end ******************************/
/***************************** health-tag - start *****************************/
/*#music-container{
  .container{
    margin-top: 10px;
    margin-bottom: 10px;
    .columns{
      margin: 0 auto;
      width: 90%;
      .music{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #ffdf7e;
        height: 200px;
      }
      .music-description{
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: orange;
      }
    }
  }
}*/
/****************************** health-tag - end ******************************/
/***************************** footer - start *****************************/
footer .container .columns {
  margin: 0 auto;
  width: 90%;
  background-color: #ffdf7e;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 70px;
}
footer .container .columns h1 {
  line-height: 60px;
  background-color: #ffdf7e;
}
footer .container .columns button {
  height: 70px;
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
}
/****************************** footer - end ******************************/
/*# sourceMappingURL=index.css.map */